<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<p>
<form action="addMember">
    <input th:type="text" name="firstName"><br>
    <input th:type="text" name="lastName"><br>
    <input th:type="text" name="email"><br>
    <input th:type="submit"><br>
</form>
<span th:text="'Today isss: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
</p>
</body>
</html>