<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<p>
<form action="addMember">
    Register a new Member<br>
    First Name<br><input th:type="text" name="firstName"><br>
    Last Name<br><input th:type="text" name="lastName"><br>
    Email<br><input th:type="text" name="email"><br>
    Contact Number<br><input th:type="text" name="contactNumber"><br>
    <input th:type="submit"><br>
</form>
<form action="getMemberById">
    Show member's info<br>
    enter member's ID<br><input th:type="text" name="id"><br>
    <input th:type="submit"><br>
</form>
<form action="/getMembersByName">
    Show member's info<br>
    enter member's First Name<br><input th:type="text" name="firstName"><br>
    <input th:type="submit"><br>
</form>
<span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
</p>
</body>
</html>